.ui-body-c, .ui-overlay-c {
	background-image:none;
	background: #cee4f3; /* Old browsers */
	background: -moz-linear-gradient(top, #cee4f3 0%, #f5fbff 50%, #cee4f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cee4f3), color-stop(50%,#f5fbff), color-stop(100%,#cee4f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cee4f3 0%,#f5fbff 50%,#cee4f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cee4f3 0%,#f5fbff 50%,#cee4f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cee4f3 0%,#f5fbff 50%,#cee4f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cee4f3 0%,#f5fbff 50%,#cee4f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee4f3', endColorstr='#cee4f3',GradientType=0 ); /* IE6-9 */
}

.ui-btn-inner {
	white-space: normal;
}

.ui-li .ui-btn-text a.ui-link-inherit {
	white-space: normal;
	overflow: visible;
}

.ui-header .ui-title, .ui-footer .ui-title {
	white-space: normal;
	margin: 0.6em 10% .8em;
}

.ui-mobile, .ui-mobile body { height: auto;}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
	position: inherit;
}
.ui-mobile .ui-page-active { overflow: visible;}

#page1 {
	overflow: scroll;
	height: 1px;
	padding-bottom: 55px;
}

.ui-collapsible-content {
	padding: 1px 1px;
	background: #ccc;
}

.ui-collapsible-content .ui-listview-inset {
	margin: 1px;
}

.ui-collapsible.ui-collapsible-inset.ui-corner-all.ui-collapsible-themed-content {

	margin-right: 15px;
	margin-left: 15px;
}

.ui-header .ui-title, .ui-footer .ui-title  {
	font-size: 20px;
	text-overflow: visible;
}


.ui-body-a.ui-collapsible-content{
	border-left:1px solid #959595;
	border-right:1px solid #959595;
	border-bottom:1px solid #959595;
	border-top: 0px;
}

a {
	font-size: 12px;
}

span {
	font-size: 14px;
}

.ui-collapsible-heading .no_border {
	border-bottom: 0px;
}

.ui-btn-up-a{
	background: #3798d5;
	text-shadow: 0 1px 0 #000;
	color: #fff;
	border: 1px solid #1075b6;
}

.ut-btn-up-a:active{
	border: 1px solid red;
}

.ut-btn-up-a:focus{
	border: 1px solid yellow;
}

.ui-btn-hover-a{
	background: #3798d5;
	text-shadow: 0 1px 0 #000;
	color: #fff;
	border: 1px solid #1075b6;
}


.ui-btn-text{
	color:#fff;
}

.ui-btn-hover-c{
	border-bottom:none;
	background: #eee;
	font-weight: 700;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
	background-image: -webkit-linear-gradient(#fff,#f1f1f1);
	background-image: -moz-linear-gradient(#fff,#f1f1f1);
	background-image: -ms-linear-gradient(#fff,#f1f1f1);
	background-image: -o-linear-gradient(#fff,#f1f1f1);
	background-image: linear-gradient(#fff,#f1f1f1);	
}

.ui-last-child.ui-btn-hover-c{
	border:1px solid #ccc;
}

#loading_page {
	text-align: center;
	margin: 10px;
	height: 149px;
	max-width: 99%;
	border: 2px solid #808E97;
	border-radius: 5px;
}

#loading_page_content {
	display: inline-block;
	padding-top: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#no_deals {
	display: none;	
}